<!DOCTYPE html>
<html>
  <head>
    <title>Yukisa2010</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <body>
        <h1>
            <%= link_to '俺のアプリケーション', root_path %>
        </h1>
        <div id="wrapper">
            <header>
                <%= link_to '新しいTodo', new_todo_path %>
                <%= link_to 'カテゴリ', categories_path %>
                <%= link_to '新しいCategory', new_category_path %>
            </header>
            <%= yield %>
        </div>
    </body>
</html>
